
SkillBoxHW8HashSet/.vs/SkillBoxHW8HashSet/FileContentIndex/823493b3-657d-4ea2-b256-577053eea839.vsidx
SkillBoxHW8HashSet/.vs/SkillBoxHW8HashSet/FileContentIndex/read.lock
SkillBoxHW8HashSet/.vs/SkillBoxHW8HashSet/v17/.suo
SkillBoxHW8HashSet/bin/Debug/SkillBoxHW8HashSet.exe
SkillBoxHW8HashSet/bin/Debug/SkillBoxHW8HashSet.exe.config
SkillBoxHW8HashSet/bin/Debug/SkillBoxHW8HashSet.pdb
SkillBoxHW8HashSet/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
SkillBoxHW8HashSet/obj/Debug/_IsIncrementalBuild
SkillBoxHW8HashSet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SkillBoxHW8HashSet/obj/Debug/SkillBoxHW8HashSet.csproj.AssemblyReference.cache
SkillBoxHW8HashSet/obj/Debug/SkillBoxHW8HashSet.csproj.CoreCompileInputs.cache
SkillBoxHW8HashSet/obj/Debug/SkillBoxHW8HashSet.csproj.FileListAbsolute.txt
SkillBoxHW8HashSet/obj/Debug/SkillBoxHW8HashSet.csproj.SuggestedBindingRedirects.cache
SkillBoxHW8HashSet/obj/Debug/SkillBoxHW8HashSet.exe
SkillBoxHW8HashSet/obj/Debug/SkillBoxHW8HashSet.pdb
SkillBoxHW8HashSet/Properties/AssemblyInfo.cs
SkillBoxHW8List/.vs/SkillBoxHW8List/FileContentIndex/af7348ec-2c84-45ba-a17c-aa104fc0d052.vsidx
SkillBoxHW8List/.vs/SkillBoxHW8List/FileContentIndex/read.lock
SkillBoxHW8List/.vs/SkillBoxHW8List/v17/.suo
SkillBoxHW8List/bin/Debug/SkillBoxHW8List.exe
SkillBoxHW8List/bin/Debug/SkillBoxHW8List.exe.config
SkillBoxHW8List/bin/Debug/SkillBoxHW8List.pdb
SkillBoxHW8List/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
SkillBoxHW8List/obj/Debug/_IsIncrementalBuild
SkillBoxHW8List/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SkillBoxHW8List/obj/Debug/SkillBoxHW8List.csproj.AssemblyReference.cache
SkillBoxHW8List/obj/Debug/SkillBoxHW8List.csproj.CoreCompileInputs.cache
SkillBoxHW8List/obj/Debug/SkillBoxHW8List.csproj.FileListAbsolute.txt
SkillBoxHW8List/obj/Debug/SkillBoxHW8List.exe
SkillBoxHW8List/obj/Debug/SkillBoxHW8List.csproj.SuggestedBindingRedirects.cache
SkillBoxHW8List/obj/Debug/SkillBoxHW8List.pdb
SkillBoxHW8List/Properties/AssemblyInfo.cs
SkillboxHW8NotePad/.vs/SkillboxHW8NotePad/FileContentIndex/50647d6c-d18e-4b2c-bfbc-8fe10bf82a15.vsidx
SkillboxHW8NotePad/.vs/SkillboxHW8NotePad/FileContentIndex/read.lock
SkillboxHW8NotePad/.vs/SkillboxHW8NotePad/v17/.suo
SkillboxHW8NotePad/bin/Debug/SkillboxHW8NotePad.exe
SkillboxHW8NotePad/bin/Debug/SkillboxHW8NotePad.exe.config
SkillboxHW8NotePad/bin/Debug/SkillboxHW8NotePad.pdb
SkillboxHW8NotePad/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
SkillboxHW8NotePad/obj/Debug/_IsIncrementalBuild
SkillboxHW8NotePad/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SkillboxHW8NotePad/obj/Debug/SkillboxHW8NotePad.csproj.AssemblyReference.cache
SkillboxHW8NotePad/obj/Debug/SkillboxHW8NotePad.csproj.CoreCompileInputs.cache
SkillboxHW8NotePad/obj/Debug/SkillboxHW8NotePad.csproj.FileListAbsolute.txt
SkillboxHW8NotePad/obj/Debug/SkillboxHW8NotePad.csproj.SuggestedBindingRedirects.cache
SkillboxHW8NotePad/obj/Debug/SkillboxHW8NotePad.exe
SkillboxHW8NotePad/obj/Debug/SkillboxHW8NotePad.pdb
SkillboxHW8NotePad/Properties/AssemblyInfo.cs
SkillBoxHW8PhoneBook/.vs/SkillBoxHW8PhoneBook/FileContentIndex/8f4f49d4-43ae-42c0-9e6b-7fb64b9d0cd4.vsidx
SkillBoxHW8PhoneBook/.vs/SkillBoxHW8PhoneBook/FileContentIndex/read.lock
SkillBoxHW8PhoneBook/.vs/SkillBoxHW8PhoneBook/v17/.suo
SkillBoxHW8PhoneBook/bin/Debug/SkillBoxHW8PhoneBook.exe
SkillBoxHW8PhoneBook/bin/Debug/SkillBoxHW8PhoneBook.exe.config
SkillBoxHW8PhoneBook/bin/Debug/SkillBoxHW8PhoneBook.pdb
SkillBoxHW8PhoneBook/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
SkillBoxHW8PhoneBook/obj/Debug/_IsIncrementalBuild
SkillBoxHW8PhoneBook/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SkillBoxHW8PhoneBook/obj/Debug/SkillBoxHW8PhoneBook.csproj.AssemblyReference.cache
SkillBoxHW8PhoneBook/obj/Debug/SkillBoxHW8PhoneBook.csproj.CoreCompileInputs.cache
SkillBoxHW8PhoneBook/obj/Debug/SkillBoxHW8PhoneBook.csproj.FileListAbsolute.txt
SkillBoxHW8PhoneBook/obj/Debug/SkillBoxHW8PhoneBook.csproj.SuggestedBindingRedirects.cache
SkillBoxHW8PhoneBook/obj/Debug/SkillBoxHW8PhoneBook.exe
SkillBoxHW8PhoneBook/obj/Debug/SkillBoxHW8PhoneBook.pdb
SkillBoxHW8PhoneBook/Properties/AssemblyInfo.cs
